// COLOURS

$color-white: #FFF;
$color-black: #000;

$color-white-light-1:#F7F7F7;
$color-white-light-2: #EEE;

$color-grey-light-3: #ABAABF;
$color-grey-light-2: #9A98A6;
$color-grey-light-1: #706E73;
$color-grey-dark-2: #393640;
$color-grey-dark-1: #232126;

$color-primary-0: #776EA2;	// Main Primary color */
$color-primary-1: #CDCADF;
$color-primary-2: #A09AC0;
$color-primary-3: #534987;
$color-primary-4: #382D6D;

$color-secondary-1-0: #DC8B9A;	// Main Secondary color (1) */
$color-secondary-1-1: #F9DDE2;
$color-secondary-1-2: #F2BBC5;
$color-secondary-1-3: #B75768;
$color-secondary-1-4: #943042;

$color-secondary-2-0: #96C980;	// Main Secondary color (2) */
$color-secondary-2-1: #DEF0D6;
$color-secondary-2-2: #BEE2AF;
$color-secondary-2-3: #6AA750;
$color-secondary-2-4: #48882C;

$color-complement-0: #EAD995;	// Main Complement color */
$color-complement-1: #FFFAE3;
$color-complement-2: #FFF4C5;
$color-complement-3: #C3AF5D;
$color-complement-4: #9E8933;

// FONT

$default-font-size: 1.6rem;